__pycache__
projects/am2_project/experiments/*
!projects/am2_project/experiments/all_items/
projects/am2_project/models/*
!projects/am2_project/models/all_item_models/
projects/am2_project/graphs
config/secrets.json
logs/