{
    "SAMPLE_SECRET": "SAMPLE_SECRET_VALUE"
    "SlackAlertsChannelID": "VALUE",
    "SlackBotToken": "VALUE",
    "COLECTICA_USERNAME": "VALUE",
    "COLECTICA_PASSWORD": "VALUE",
    "COLECTICA_HOSTNAME": "VALUE",
    "EVIDENTLY_API_KEY": "VALUE",
    "EVIDENTLY_ORG_ID": "VALUE"
}